<div class="main-hero-section">
  <div class="center-container">
    <div class="center-space-between-content">
      <div class="left-container" data-aos="fade-right">
        <h1 class="home-header">SIMPLIFYING <br>RETAIL SOLUTIONS</h1>
        <p class="home-detail">We are experts in managing major <br>Retail Technology programs.</p>
        <button onclick="Calendly.showPopupWidget('https://calendly.com/weswilson/30min');return false;" mat-button
          class="action-btn main-btn">Schedule Now</button>
      </div>

      <div class="right-container" data-aos="fade-left">
        <img class="home-hero-img" src="assets/img/home-hero.png" alt="">
      </div>
    </div>
  </div>
</div>
