<div class="sidebar-container">
  <div class="logo-container">
    <img [routerLink]="['']" class="logo-img" src="assets/img/logo.png" alt="Foundations IT">
  </div>

  <div class="link-list-container">
    <ul class="link-list">
      <li [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="link-item">LINK
        1</li>
      <li [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="link-item">LINK
        2</li>
      <li [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="link-item">LINK
        3</li>
      <li [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="link-item">LINK
        4</li>
    </ul>
  </div>

</div>
