<div class="sidebar-container">
  <div class="logo-container">
    <img [routerLink]="['']" class="logo-img" src="assets/img/logo.png" alt="Foundations IT">
  </div>

  <div class="link-list-container">
    <ul class="link-list">
      <li [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="link-item">HOME</li>
      <li [routerLink]="['portfolio']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
        class="link-item">PORTFOLIO</li>
      <li [routerLink]="['contact']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="link-item">CONTACT</li>
    </ul>
  </div>

</div>
