@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../src//app/app.component.scss";

body,
html {
  margin: 0;
  background-color: $primary_background_color;
}

* {
  box-sizing: border-box !important;
}
